
<div>
  <p>
    <strong>Name:</strong>
    <%= @area.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @area.address %>
  </p>
</div>
<%= link_to 'Edit', edit_area_path(@area),class: "btn btn-success" %> |
<%= link_to 'Back', areas_path, class: "btn btn-warning" %>
