<!-- Footer-->
<footer style="margin-top: 10px !important">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 ">
        <h4 style="margin-bottom: 10px !important; color: white">Address</h4>
        <div style="background-color: #75c5cf; width: 50px; height: 80px;">
          <img id="default-logo" src="/assets/logo.jpg" alt="King Motel logo" style="height:80px;width: 50px ">
        </div>
        <address style="margin-top: 10px;">
          <strong>King, Inc.</strong><br>
          27/21 Nguyen Thi Thap Street District 7, HCM <br>
          <abbr title="Phone">Phone:</abbr> <a href="tel:+84987113442">+84 987 113 442</a><br>
          <abbr title="Email">Email:</abbr> <a href="mailto: quocvuong.tqv97@gmail.com ">quocvuong.tqv97@gmail.com</a><br>
        </address>
        <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled list-inline social text-center" style="font-size: 30px">
            <li class="list-inline-item"><a href="https://www.facebook.com/thaiquoc.vuong"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="mailto: quocvuong.tqv97@gmail.com "><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.9922575274411!2d106.72864548812105!3d10.736870317145712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175257c75d46b2d%3A0x3badc14f16dd95e3!2zMTUvMTBCIE5ndXnhu4VuIFRo4buLIFRo4bqtcCwgVMOibiBQaMO6LCBRdeG6rW4gNywgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1545669646063" width="100%" height="320px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="footer-bottom" style="text-align: center">
    <div class="container">
      <div class="row">
        <div class="col-xs-6"> &copy; 2019 All Right Reserved by Quoc Vuong</div>
        <div class="col-xs-6 text-right">
        </div>
      </div>
    </div>
  </div>

</footer>

<style>
  footer {
    background: #007b5e !important;
    width: 100%;
    color: white;
    max-width: 100%;
  }
   .container{
      width: 100%;

      max-width: 100%;
    }
</style>
<br>



